# ─── Banco Oracle ─────────────────────────────────────────────────────────────
DB_USER=rm568419
DB_PASSWORD=sua_senha_aqui
DB_HOST=oracle.fiap.com.br
DB_PORT=1521
DB_SID=orcl

# ─── API de IA (Render) ───────────────────────────────────────────────────────
API_IA=https://turma-do-bem-ia.onrender.com
API_CEP=https://viacep.com.br/ws
TIMEOUT_IA=60
TIMEOUT_CEP=5
